.main_container {
	display: grid;
	place-items: center;
	grid-template-columns: 10, 6, 10;
	margin-top: 100px;
	padding: 30px;
}

.main_container .middle_column {
	padding: 40px;
	border: 3px solid rgb(179, 179, 179);
	border-radius: 4px;
}

.main_container .map {
	display: flex;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: auto;
	border: 2px solid rgb(151, 151, 151);
	border-radius: 4px;
}

.contact_info {
	display: grid;
	grid-template-columns: 1, 1;
	columns: auto;
}

.contact_info > * {
	text-align: right;
}

.details {
	text-align: left;
}
